footer
   .footer-1.container-flex
      .row
         .col-md-4.column
            h3.sign-up SIGN UP FOR OUR NEWSLETTER
         .col-md-4.column
            form(ng-submit="subscribe()")
               input.form-control(ng-model="model.email" type="text")
               button.btn.btn-primary(type="submit") SUBSCRIBE
         .col-md-4.column
            .row
               .col-xs-2
                  .network
                     span.fa.fa-twitter
               .col-xs-2
                  .network
                     span.fa.fa-facebook
               .col-xs-2
                  .network
                     span.fa.fa-instagram
               .col-xs-2
                  .network
                     span.fa.fa-google-plus
               .col-xs-2
                  .network
                     span.fa.fa-youtube-play
               .col-xs-2
                  .network
                     span.fa.fa-flickr



   .footer-2.container-flex
      span Copyright
      span.fa.fa-copyright
      span 2015. Chris Carrington. All Rights Reserved.