doctype
html(ng-app="app")
   
   head
      title Crux
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(href="css/app.css" rel="stylesheet")
      script(src="js/app.js")

   body
      cr-header
      div(ui-view)
      cr-footer